*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
}

header {
    text-transform: uppercase;
    margin-top: 10%;
    margin-bottom: 20px;
}

header, form, ul{
    text-align: center;
}

ul{
    margin-top: 10px;
}

button, input{
    padding: 10px;
}

li{
    cursor: pointer;
}

li.concluido {
    text-decoration: line-through;
    color: rgba(75, 99, 91, 0.5);
}